<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
       
        <p><%= @user.name %></p>
        <p><%= @user.created_at %></p>
        <p><%= @user.updated_at %></p>
      </h1>
    </section>
  </aside>
</div>
